<div class="collabora-editor">
  <div class="collabora-header">
    <h2><%= @attachment.filename %> - <%= t('label_collabora_editing') %></h2>
    <div class="collabora-actions">
      <% if @attachment.container.is_a?(Issue) %>
        <%= link_to 'Back', issue_path(@attachment.container), class: 'btn btn-default' %>
      <% elsif @attachment.container.is_a?(Project) %>
        <%= link_to 'Back', project_path(@attachment.container), class: 'btn btn-default' %>
      <% else %>
        <%= link_to 'Back', { action: 'view', id: @attachment.id }, class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>
  
  <div class="collabora-container">
    <% if @collabora_url %>
      <iframe 
        id="collabora-frame"
        src="<%= @collabora_url %>" 
        width="100%" 
        height="800px"
        frameborder="0"
        allowfullscreen="allowfullscreen">
      </iframe>
    <% else %>
      <div class="alert alert-warning">
        <%= t('label_collabora_not_configured') %>
      </div>
    <% end %>
  </div>
</div>

<style>
  .collabora-editor {
    padding: 10px;
  }
  
  .collabora-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .collabora-header h2 {
    margin: 0;
    flex: 1;
  }
  
  .collabora-actions {
    display: flex;
    gap: 10px;
  }
  
  .collabora-container {
    width: 100%;
    height: 90vh;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
  }
  
  #collabora-frame {
    width: 100%;
    height: 100%;
  }
</style>
